<a href="https://colab.research.google.com/github/srushtinalawade-gif/Study-of-Pandas/blob/main/Practial9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Study of Pandas Library in Python
## Name: Srushti J. Nalawade
## PRN: 25070123157
##Batch: ENTC A1
## Experiment 9

In [ ]:
import pandas as pd

s=pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# Create DataFrame
data={"Name":['Srushti','Anvi','Prisha'],
      "Marks":[87,98,89]}

df=pd.DataFrame(data)
df

      Name  Marks
0  Srushti     87
1     Anvi     98
2   Prisha     89

df.head() is first 5 entries and df.tail() is last 5 entries

In [ ]:
#Structure of DataFrame
df.shape

(3, 2)

In [ ]:
df.ndim

2

In [ ]:
df.size

6

In [ ]:
#Display Column names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
#Check data types of each column
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
#Access Individual Column
df['Name']

0    Srushti
1       Anvi
2     Prisha
Name: Name, dtype: object

In [ ]:
df['Marks']

0    87
1    98
2    89
Name: Marks, dtype: int64

In [ ]:
#Access specific row
df.loc[1]

Name     Anvi
Marks      98
Name: 1, dtype: object

In [ ]:
#Add a new column
df['Grade']=['A','A','A']
df

      Name  Marks Grade
0  Srushti     87     A
1     Anvi     98     A
2   Prisha     89     A

In [ ]:
#Update Data in DataFrame
#Change marks of student
df.loc[0,'Marks']=100
df

      Name  Marks Grade
0  Srushti    100     A
1     Anvi     98     A
2   Prisha     89     A

In [ ]:
from numpy import True_
#Delete a column
df.drop('Grade',axis=1,inplace=True)
df

      Name  Marks
0  Srushti    100
1     Anvi     98
2   Prisha     89

In [ ]:
#Perform Basic Statistical Analysis
df['Marks'].mean()

np.float64(95.66666666666667)

In [ ]:
df['Marks'].max()

100

In [ ]:
df['Marks'].min()

89

In [ ]:
#Apply Condition
df[df['Marks']>99]

      Name  Marks
0  Srushti    100